* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 375px;
  min-height: 90vh;
  background: #e5e5e5;
}

/* navbar */
header {
  width: 375px;
  min-height: 7vh;
  display: flex;
  background-color: #fff;
  margin-top: 50px;
}

nav {
  width: 93%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  gap: 2px;
}

.line {
  width: 80%;
  height: 2px;
  font-weight: bold;
  background: #6070ff;
}

/* hero styling */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  background: url("./imgs/background.png") center / contain no-repeat;
  width: 375px;
  height: 596px;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-bottom-left-radius: 70px;
  background-color: #fff;
  margin-bottom: 114px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  max-width: 240px;
  color: #172b4d;
}

li {
  list-style: none;
}

.about-me {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #7f8cff;
}

.social-icons {
  display: flex;
  gap: 20px;
}

/* styling tonic section */
.tonic {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  width: 327px;
}

/* title style */
h2 {
  color: #172b4d;
  font-weight: 700;
  max-width: 200px;
  font-size: 32px;
}

/* image styling */
.image {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

img {
  object-fit: cover;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tags-holder {
  display: flex;
  align-items: center;
  gap: 12px;
}

.canopy {
  color: #344563;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.tag {
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
}

.dot {
  background: #c1c7d0;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.skills {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-skill {
  float: right;
  border: 0;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  color: #6070ff;
  list-style: none;
}

.view-project {
  margin-top: 12px;
  padding: 12px;
  border: 1px solid #6070ff;
  align-self: flex-start;
  color: #396df2;
  background-color: transparent;
  border-radius: 8px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.view-project:hover {
  background-color: #6070ff;
  color: white;
}

.works-section {
  display: grid;
  row-gap: 88px;
}

.about-section {
  margin: 114px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  width: 375px;
  padding: 16px;
  padding-top: 114px;
  border: 1px solid #dfe1e6;
  border-top-left-radius: 70px;
  background-color: #fff;
}

.about-self {
  font-size: 40px;
}

.main-skills {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.languages,
.framewroks,
.some-skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang-group {
  float: right;
  margin-right: 12px;
}

.lang {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  gap: 16px;
}

.resume {
  margin-bottom: 30px;
}

h4 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  font-weight: 500;
  color: #000;
}

.framewroks {
  padding: 12px;
  border-bottom: 1px solid #dfe1e6;
  height: 60px;
}

.some-skill {
  border-bottom: 1px solid #dfe1e6;
  padding: 12px;
  height: 60px;
}

.arrow {
  object-fit: contain;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/imgs/contact-bg.png") 101% / contain no-repeat #6070ff;
  gap: 70px;
  width: 375px;
  height: 779px;
  padding: 32px;
  border: 1px solid transparent;
  border-top-left-radius: 90px;
}

.contact-group {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  flex-direction: column;
}

.contact-title {
  font-size: 40px;
  color: #fff;
  font-weight: 700;
  max-width: 100%;
}

.contact-desc {
  font-size: 20px;
  font-weight: 400;
  max-width: 330px;
  color: #ebebff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

input {
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
}

input::placeholder {
  color: #b3bac5;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

textarea {
  width: 100%;
  resize: none;
  border-radius: 8px;
  padding: 16px;
  font-weight: 400;
}

textarea::placeholder {
  color: #b3bac5;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.submit {
  color: #6070ff;
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
  align-self: flex-start;
  border: 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 140px;
  cursor: pointer;
}

.submit:hover {
  background: #ebebff;
  transition: 0.4s;
}
